<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eygsl.cbs.referencemsal">

    <!-- Required permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- The backupAgent here is provided by the MAM SDK. It will block/encrypt backups if necessary. -->
    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:fullBackupContent="true"
        android:backupAgent="com.microsoft.intune.mam.client.app.backup.MAMDefaultBackupAgent"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.eygsl.cbs.referencemsal.helpers.IntuneSDKTaskRunner">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DocumentsScreenActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".FAQScreenActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".AppinfoScreenActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".SupportScreenActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".SharePointItemDetail" android:parentActivityName=".SharepointList" />
        <activity android:name=".SharepointList" android:parentActivityName=".MainActivity" />
        <activity android:name=".ScanQRcodeActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".WebViewBrowser" />
        <activity android:name=".ProfileScreenActivity" android:parentActivityName=".MainActivity" />

        <!-- Must be specified to allow users to login via MSAL -->
        <activity android:name="com.microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="com.eygsl.cbs.referencemsal"
                    android:path="/pKLmhyA0HEMLOig6q6sLrvpEOUI="
                    android:scheme="msauth" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.eygsl.cbs.referencemsal.utils.CustomFileProvider"
            android:name="androidx.core.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>